@charset "utf-8";
/*
.mobile {
	top: 0 !important;
}
*/

.ul-mobile {
	display: block;
}

.main-blog .content {
	padding-top: 10px;
}
.header-blog {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index:10;
}

.main-blog {
	position: relative;
	top: 67px;
	margin-bottom: 67px;
	padding-bottom: 25px;
	overflow: hidden;
}

.description {
	width: 75%;
	color: #3b3273;
}

.logo-blog {
	width: 40%;
}

.section-menu {
	text-transform: none;
}

.content-blog {
	width: 80%;
	float: left;
	padding-right: 30px;
}

.sidebar .category {
	margin-bottom: 20px;
	color: #3b3273;
}

.sidebar .category p {
	text-transform: uppercase;
	margin-bottom: 10px;
}

.sidebar .category a{
	font-size: 15px;
	color: #3b3273;
}

.sidebar .category a:hover{
	color: #00b95e;
}

.post-excerpt {
	height: 250px;
	position: relative;
}

.post-excerpt img {
	width: 100%;
	height:100%;
}

.title-post-nohover {
	position: absolute;
	bottom: 0;
	padding: 15px;
}

.post-excerpt h1, .post-excerpt h6{
	color: #fff;	
}

.post-excerpt h1 {
	font-size: 30px;
	margin: 0;	
}

.post-background {
	background-color: rgba(0, 0, 0, .25);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

.post-blog {
	width: 50%;
	float: left;
}

.post-blog:hover .title-post-nohover {
	display: none;
}
.post-hover {
	display: none;
}


.post-blog:hover .post-hover {
	display: block;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	display: table;
	z-index: 1;
	border: #3b3273 3px solid;
}

.text-post-hover {
	display: table-cell;
	vertical-align: bottom;
	color: #fff;
	padding: 15px;
}
.post-excerpt-hover {
	font-size: 12px;
}

.title-category-blog, .main-blog .tablet-content {
	margin-top: 0;
}
.tablet {
	display: none;
	height: 0;
}

#open, #open-post, #close-1, #close, #close-1-post, #close-post {
	display: none;
}

@media only screen and (max-width: 780px) {

	.tablet {
		display: block;
		height: auto;
	}

	.header-blog {
		position: relative;
		z-index: 0;
	}
	.content .sidebar, .tablet br, .title-category-blog {
		display: none;
	}
	.content-blog {
		width: 100%;
		padding: 0;
	}

	.main-blog .content {
		padding: 0 10px;
		/*margin-top: 51px;*/
	}

	.post-excerpt h1 {
		font-size: 25px !important;
	}

	.tablet {
		/*top: 0;
		padding-top: 10px;*/
		margin: 0 auto;
		width: 100% !important;
		color: #3b3273;
		text-align: center;
		font-size: 14px;
		z-index: 10; 
		/*position: fixed;*/
		background-color: #fff;
	}

	.tablet p {
		text-transform: uppercase;
	}

	.tablet a {
		margin: 10px;
		color: #3b3273;
	}

	.main-blog {
		padding-top: 5px;
		top:5px;
		margin: 0;
	}

	.tablet .category {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 480px) {

	.post-blog {
		width: 100%;
	}

	#open, #open-post {
		display: inline;
	}
	.ul-mobile, .ul-mobile-post {
		display: none;
	}

	.description {
		width: 100%;
	}	
	.description a {
		width: 100%;
		text-align: center;
	}	
	.tablet br {
		display: block;
	}

	.mobile .category {
		float: left;
		width: 50%;
	}

	.tablet p {
		font-size: 12px;
	}

	.mobile {
		text-align: center;
		padding: 0 10px;
	}
	.mobile div {
		margin: 0 auto;
	}

	.mobile .category:last-child p{
		text-align: right;
	}

	.mobile .category:first-child p{
		text-align: left;
	}

	.mobile .category:last-child p a {
		margin-right: 0;
	}

	.tablet-content {
		clear: both;
	}
}