@charset "utf-8";

.header-blog {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index:10;
	top:67px;
}

.description {
	width: 75%;
	color: #3b3273;
}

.logo-blog {
	width: 40%;
}

.section-menu {
	text-transform: none;
}
