.header-blog {
    background: url(../images/1.png) repeat-x !important;
    height: 65px;
    color: #fff;
    padding-top: 15px;
}

.header-blog a {
    color: #fff;
}

.content-blog {
    width: 1140px;
    margin: 0 auto;
}

.logo-blog, nav li {
    float: left;
}
.logo-blog{
    font-size: 34px;
    font-weight: 700;
    margin-top: -15px;
}

.header-blog nav {
     float: right;
}



/*-----------------*/

.main-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99;
}

.main-navigation {
    display: block;
    width: 100%;
    margin-top: -1px;
    background-color: #222;
    float: left;
    min-height: 52px;
    height: 77px;
    background: url(../images/mm-bkg.png) repeat-x !important;
}

.main-navigation #navigation {
    width: 1060px;
    clear: both;
    margin: 0 auto;
    position: relative;
    max-width: 95%;
}

#logo-blog {
    color: #fff;
    float: left;
    margin-bottom: 0;
    padding-top: 5px;
    line-height: 40px;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
}