.main-header {
    position: relative;
    float: left;
    width: 100%;
    z-index: 99;
}

.blog .main-navigation {
    display: block;
    width: 100%;
    margin-top: -1px;
    background-color: #222;
    float: left;
    min-height: 52px;
    height: 77px;
    background: url(../images/mm-bkg.png) repeat-x !important;
}

.blog .main-navigation #navigation {
    width: 1060px;
    clear: both;
    margin: 0 auto;
    position: relative;
    max-width: 95%;
}

.blog #logo {
    float: left;
    margin-bottom: 0;
    padding-top: 5px;
    line-height: 40px;
    font-size: 34px;
    text-transform: none !important;
    color: #fff;
}

.blog #logo a:visited, .blog #logo a {
    color: #fff;
}


.blog h1, .blog h2, .blog h3, .blog h4, .blog h5, .blog h6 {
    font-weight: bold;
    margin-bottom: 12px;
    font-family: 'Gudea', sans-serif;
    color: #555;
}

.blog h1 {
    margin: 0;
}

.blog #navigation ul {
    margin: 0 auto;
    position: relative;
    max-width: 100%;
    float: right;
}

.blog #navigation ul li {
    float: left;
    position: relative;
}

.blog #navigation ul li a, .blog #navigation ul li a:link, .blog #navigation ul li a:visited {
    overflow: hidden;
    display: block;
}

.blog .main-navigation #navigation ul li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.blog #navigation > ul > li > a {
    font-weight: normal;
}

.blog #navigation a {
    font-family: 'Dosis', sans-serif;
}

.blog .main-navigation li a {
    font-size: 14px;
    line-height: 1.2em;
    padding: 17px 26px 5px 0;
    color: #989898;
    text-decoration: none;
    text-transform: uppercase;
}

.blog .secondary-navigation {
    display: block;
    margin: 0 auto;
    width: 1060px;
    clear: both;
    height: 50px;
    max-width: 95%;
    margin-top: 10px;
}

.blog #navigation {
    margin: 0 auto;
    width: 100%;
}

.blog .secondary-navigation #navigation ul {
    padding-left: 0;
    float: left;
    padding-top: 8px;
    width: 100%;
}

.blog .secondary-navigation li a {
    line-height: 14px;
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
    padding: 22px;
    font-size: 16px;
    padding-bottom: 14px;
    padding-left: 0;
    padding-right: 30px;
}

.main-container {
    width: 1060px;
    margin: 0 auto;
}

.blog #page {
    padding-top: 17px;
    min-height: 100px;
    float: none;
    clear: both;    
    max-width: 100%;
    min-width: 240px;
    overflow: visible;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}